<div class="fixed w-full bottom-0 sm:right-3 sm:bottom-10 columns-2 sm:columns-4 gap-5 sm:gap-bottomLinks text-black bg-white rounded-sm sm:text-white sm:bg-transparent text-center">
  
  <p id="home"><a href="#home"><fa-icon [icon]="home"></fa-icon> Home</a></p> 
  <p id="aboutme"><a href="#aboutme"><fa-icon [icon]="about"></fa-icon> About me </a></p> 
  <p id="education"><a href="#education"><fa-icon [icon]="education"></fa-icon> Education</a> </p>
  <p id="projects" ><a href="#experience"><fa-icon [icon]="project"></fa-icon> Experience</a> </p>
</div>