.gradient {
    
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 15s ease infinite;
}
.lessgradient {
    
  background: linear-gradient(-45deg, #FFD1FF, #FAD0C4);
  background-size: 400% 400%;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

p {
  color:white
}

.body-wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 5px;
}
.parallax {
  position: relative;
  min-height: 300px;
  height: 60vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  z-index: -1; 

  & > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    background-position: center;
    background-size: cover;
    filter: contrast(1.2);
  }

  & > h2 {
    position: relative;
    z-index: 1;
  }
  .foreground {
    transform: translateZ(-5px) scale(1.5);
    opacity: 0.8;
    width: 50%;
  }
}
.type-myself::after {
  padding-right: 0px;
  display: inline-block;
  border-right: white 4px solid;
}
.list {
  margin-top: 40px;
}
.experience {
  img{
      margin-right: 20px;
    width: 200px;
    object-fit: center;
    padding: 10px;
  }
}
.logo {

  cursor: pointer;
  img{
    transition: 0.3s;
  }
  p {
    transition: 0.4s;
    opacity: 0;
    bottom: 0%;
    left: 30%;
    text-decoration: none;
  }

  &:hover {
    img {
      opacity: 0.5;
      transform: scale(1.1);
      transition: 0.2s;

    }
    p {
      transition: 0.8s;
      opacity: 1;
      bottom: 45%;
    }
  }

  .active {
    img {
      opacity: 0.5;
      transform: scale(1.1);
      transition: 0.2s;
    }
    p {
      transition: 0.8s;
      opacity: 1;
      bottom: 45%;
      text-decoration: underline;
    }
  }

}
.descriptions {
  .active {
    display: block !important;
    height: 40px !important;
    transition: 0.8s;
    opacity: 1 !important;
    // bottom: 45%;
  }
  .invisible {
    display: block;
    transition: 0.8s;
    height: 0px;
    opacity: 0;
    visibility: visible;
  }

}