<div class=" container content overflow-x-hidden overflow-y-scroll">
  <section id="home" class="container chapter">
    <div>

      <div class="relative min-h-page ">
        <div class="mb-36">
          <p class="text-white">Stan Tophoven</p>

        </div>
        <div>
          <div class="gradient">
            <h1 class="text-welcome-header font-semibold leading-logo">Software</h1>
            <h1 class="text-welcome-header font-semibold leading-logo lg:ml-80"><span class="type-myself"></span></h1>
            <p class="lg:ml-[48rem] mt-6">Based in Brabant, The Netherlands</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section id="aboutme">
    <div class="min-h-page">
      <div class="lessgradient">
        <h1 class="text-7xl font-semibold">About me</h1>
      </div>
      <div class="w-1/2 float-left">
        <p>My name is Stan Tophoven, an enthusiastic 18-year-old boy with a passion for traveling, sports, and creating software that can make the world a better place.</p>
<p>
I have always been fascinated by the power of technology and the possibilities it offers to bring about positive change. As a traveler, I have had the opportunity to experience different cultures and societies, and it has made me realize that there are many problems that need to be addressed. I strongly believe in the power of software to provide solutions to these challenges.
</p>
<p>
As a volleyball player and fitness enthusiast, I am accustomed to working in teams and am driven to constantly improve myself. I would like to apply these qualities in a role where I can work with others to develop innovative software solutions. I am determined to use my technical skills and mindset to contribute to a better world.
</p>
<p>
I have a passion for programming. I have successfully learned various programming languages and am proficient in developing software applications. Additionally, I have gained experience in project management and collaboration during my studies.
</p>

      </div>
      <div class="w-1/2 float-right">
        <div class="flex justify-center">
          <div class="w-1/2">
            <div>
              <img src="../../assets/KastStan.png" alt="Stan Tophoven">
            </div>
            <div class="">
              <i class="text-white">Barcalona 2023</i>
            </div>

          </div>
        </div>
      </div>
    </div>

  </section>
  <section id="education">
    <div class="min-h-page">
      <div class="lessgradient">
        <h2 class="text-7xl font-semibold">Education</h2>
      </div>
      <div>


        <div class="pb-96">

          <div class="w-1/2 float-left">
            <div class="w-1/3 float-left">
              <img src="../../assets/AvansLogo.png" alt="">
            </div>
            <div class="w-2/3 float-right">
              <h3 class="text-4xl font-bold underline text-white">Avans Hogeschool</h3>
              <p class="text-xl italic">Computer Science (BSc)</p>
              <p class="text-xl">2021 - 2025</p>
              <p class="text-xl">First Year: 7,7</p>
              <p class="text-xl">Second Year: 7,4</p>
            </div>
          </div>

          <div class=" w-1/2 float-right p-8">
            <p>In the first and second year of my studies, I have acquired a wealth of knowledge. The continuous exposure to new concepts and technologies has been truly astonishing. Throughout this period, I have delved into multiple programming languages such as Java (for Android development), C#, JavaScript, and TypeScript. Additionally, I have gained proficiency in utilizing frameworks like Entity Framework (EF) for C#, NestJS, and Mongoose for MongoDB.

              Moreover, I have pursued courses focused on enhancing user experience (UX), honing my skills in professional writing and communication in both Dutch and English. These courses have equipped me with the necessary tools to effectively convey ideas and information.
              
              Throughout various projects of varying durations, I have had the opportunity to work with different project management methodologies such as Waterfall, Agile Scrum, and Kanban. This diverse range of experiences has enabled me to develop leadership skills, learn how to collaborate within a team, as well as thrive independently.
              
              These accumulated experiences have shaped me into a versatile professional capable of working across every layer of the technology stack, adapting to the needs of any given situation.</p>
          </div>

        </div>

        <div class="">
          <div class="w-1/2 float-left">
            <div class="w-1/3 float-left ">
              <div>
                <img src="../../assets/NGL.png" alt="" class="w-24 mx-auto">

              </div>
            </div>
            <div class="w-2/3 float-right">
              <h3 class="text-4xl font-bold underline text-white">Norbertus Gertrudis Lyceum</h3>
              <p class="text-xl italic">Economie & Maatschappij (HAVO)</p>
              <p class="text-xl italic">Computer Science, German, Mathematics (analysis and geometry)</p>
              <p class="text-xl">2016 - 2021</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="experience">
    <div class="min-h-page">
      <div class="lessgradient">
        <h2 class="text-7xl text-white font-semibold">Experience</h2>
      </div>
      <div>
        <app-experience-items [itemArr]="frameworkItems" [title]="'Frameworks'"></app-experience-items>
        <app-experience-items [itemArr]="databaseItems" [title]="'Databases'"></app-experience-items>
        <app-experience-items [itemArr]="languageItems" [title]="'Languages'"></app-experience-items>
        <app-experience-items [itemArr]="otherItems" [title]="'Other'"></app-experience-items>
      </div>

    </div>
  </section>

</div>